<div ng-show="loading">Loading...</div>

<p>Navigering(lenker):</p>
<ul>
    <li ng-repeat="link in links">
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkiv'" href="#/arkiv/{{link.href}}">Nytt arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv/self'" href="#/arkiv/{{link.href}}">Endre arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv'" href="#/arkivfilter/{{link.href}}">Søk arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkivdel'" href="#/arkivdel/{{link.href}}">Ny arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel/self'" href="#/arkivdel/{{link.href}}">Endre arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivskaper'" href="#/arkivdelfilter/{{link.href}}">Søk arkivskaper</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel'" href="#/arkivdelfilter/{{link.href}}">Søk arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klassifikasjonssystem'" href="#/filter/{{link.href}}">Søk klassifikasjonssystem</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klasse'" href="#/filter/{{link.href}}">Søk klasse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/mappe'" href="#/filter/{{link.href}}">Søk mappe</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/registrering'" href="#/filter/{{link.href}}">Søk registrering</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentbeskrivelse'" href="#/filter/{{link.href}}">Søk dokumentbeskrivelse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentobjekt'" href="#/filter/{{link.href}}">Søk dokumentobjekt</a>
        <a target="_blank" href="{{link.rel}}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </li>
    <li ng-repeat="link in data._links">
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkiv'" href="#/arkiv/{{link.href}}">Nytt arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv/self'" href="#/arkiv/{{link.href}}">Endre arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv'" href="#/arkivfilter/{{link.href}}">Søk arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkivdel'" href="#/arkivdel/{{link.href}}">Ny arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel/self'" href="#/arkivdel/{{link.href}}">Endre arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivskaper'" href="#/arkivdelfilter/{{link.href}}">Søk arkivskaper</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel'" href="#/arkivdelfilter/{{link.href}}">Søk arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klassifikasjonssystem'" href="#/filter/{{link.href}}">Søk klassifikasjonssystem</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klasse'" href="#/filter/{{link.href}}">Søk klasse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/mappe'" href="#/filter/{{link.href}}">Søk mappe</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/registrering'" href="#/filter/{{link.href}}">Søk registrering</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentbeskrivelse'" href="#/filter/{{link.href}}">Søk dokumentbeskrivelse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentobjekt'" href="#/filter/{{link.href}}">Søk dokumentobjekt</a>        
        <a target="_blank" href="{{link.rel}}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </li>
    <li ng-repeat="link in data.link">
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkiv'" href="#/arkiv/{{link.href}}">Nytt arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv/self'" href="#/arkiv/{{link.href}}">Endre arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv'" href="#/arkivfilter/{{link.href}}">Søk arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkivdel'" href="#/arkivdel/{{link.href}}">Ny arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel/self'" href="#/arkivdel/{{link.href}}">Endre arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivskaper'" href="#/arkivdelfilter/{{link.href}}">Søk arkivskaper</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel'" href="#/arkivdelfilter/{{link.href}}">Søk arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klassifikasjonssystem'" href="#/filter/{{link.href}}">Søk klassifikasjonssystem</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klasse'" href="#/filter/{{link.href}}">Søk klasse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/mappe'" href="#/filter/{{link.href}}">Søk mappe</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/registrering'" href="#/filter/{{link.href}}">Søk registrering</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentbeskrivelse'" href="#/filter/{{link.href}}">Søk dokumentbeskrivelse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentobjekt'" href="#/filter/{{link.href}}">Søk dokumentobjekt</a>
        <a target="_blank" href="{{link.rel}}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </li>
    <li ng-repeat="link in data.link._links">
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkiv'" href="#/arkiv/{{link.href}}">Nytt arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv/self'" href="#/arkiv/{{link.href}}">Endre arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkiv'" href="#/arkivfilter/{{link.href}}">Søk arkiv</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/administrasjon/ny-arkivdel'" href="#/arkivdel/{{link.href}}">Ny arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel/self'" href="#/arkivdel/{{link.href}}">Endre arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivskaper'" href="#/arkivdelfilter/{{link.href}}">Søk arkivskaper</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/arkivdel'" href="#/arkivdelfilter/{{link.href}}">Søk arkivdel</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klassifikasjonssystem'" href="#/filter/{{link.href}}">Søk klassifikasjonssystem</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/klasse'" href="#/filter/{{link.href}}">Søk klasse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/mappe'" href="#/filter/{{link.href}}">Søk mappe</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/registrering'" href="#/filter/{{link.href}}">Søk registrering</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentbeskrivelse'" href="#/filter/{{link.href}}">Søk dokumentbeskrivelse</a>
        <a ng-if="link.rel=='http://rel.arkivverket.no/noark5/v4/api/arkivstruktur/dokumentobjekt'" href="#/filter/{{link.href}}">Søk dokumentobjekt</a>        <a target="_blank" href="{{link.rel}}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </li>
</ul>
