<div class="jumbotron">
    <h1>NOARK5 v4 tjenestegrensesnitt</h1>
   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tester administrasjon</h2>
        <p>
            Test 1 - admin oppsett
            <ul>
                <li>Sjekke om støtter administrasjon og arkivstruktur</li>
                <li>registrere arkiv</li>
                <li>registrere arkivdel</li>
            </ul>
          
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Tester arkivstruktur</h2>
        <p>
            Test 2 - enkel registrering
            <ul>
                <li>finne mappe</li>
                <li>evt registrere mappe på riktig arkivdel</li>
                <li>ny registrering</li>
                <li>nytt dokumentobjekt</li>
                <li>laste opp fil</li>
            </ul>
            Test 3 - avslutte mappe
            <ul>
                <li>finne mappe</li>
                <li>avslutte mappe</li>
            </ul>
            Test 6 - postmottak datafangst
            <ul>
                <li>(skanning)</li>
                <li>finne arkivdel</li>
                <li>finne mappe - evt opprette mappe (dossiermappe med id=løpenr person??)</li>
                <li>finne undermappe - evt opprette undermappe</li>
                <li>opprette inng registrering</li>
                <li>nytt dokumentobjekt</li>
                <li>laste opp fil</li>
            </ul>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tester sakarkiv</h2>
        <p>
            Test 4 - sakarkiv registrering
            <ul>
                <li>registrere saksmappe</li>
                <li>registrere inngående journalpost</li>
                <li>registrere dokumentbeskrivelse</li>
                <li>registrere dokumentobjekt</li>
                <li>laste opp fil</li>
            </ul>
            Test 7 - Oppgaveliste
            <ul>
                <li>finne restanser for saksbehandler</li>
                <li>gå til avskrivning</li>
            </ul>
           
            Test 5 - avskrive med utgående journalpost
            <ul>
                <li>finne saksmappe</li>
                <li>registrere utgående journalpost</li>
                <li>registrere dokumentbeskrivelse</li>
                <li>registrere dokumentobjekt</li>
                <li>laste opp fil</li>
            </ul>
        
        </p>
    </div>
</div>
