<div class="jumbotron">
    <h1>NOARK5 v4 tjenestegrensesnitt</h1>
   
</div>
<div class="row">
   
        <h2>Testprosjektet er tilgjengelig på <a href="https://github.com/Arkitektum/N5-net">https://github.com/Arkitektum/N5-net</a></h2>
        <p>
         Prosjektet imiterer en NOARK 5 kjerne med fiktive data, og kan brukes til initiell utvikling og testing av klienter samt være utgangspunkt for implementering av tjenestegrensesnitt på egen NOARK kjerne. 
        </p>
    <p>Klienter kan koble seg opp til <a href="/api/">REST API</a></p>
        
  
</div>

@if (Request.IsAuthenticated)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            Du er autentisert!
        </div>
        <div class="panel-body">
            <dl>
                @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                {
                    <dt>
                        @claim.Type
                    </dt>
                    <dd>
                        @claim.Value
                    </dd>
                }
            </dl>
        </div>
    </div>
    
}
